// COLOR
$color-main: #272f80;
$color-highlight: #f87339;
$white: #fefefe;
$dark: #313131;
$gray: #6a6a6a;
$bghead: #d7d5d5;
$bgmain: #aed2dd;
$boxshadow: 0 4px 6px 0 hsla(0%,0%,0%,0.2);

// BREAKPOINT
$tiny: 54.3em !default; // 543px
$small: 76.7em !default; // 767px
$medium: 99.1em !default; // 991px
$large: 119.9em !default; // 1199px
$extra-large: 143.9em !default; // 1439px

// SAFE MOBILE
body {
  font-family: -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Open Sans',
  'Helvetica Neue',
  sans-serif; /* font stack from Medium */
}
@media (min-width:$small) {
  @font-face {
    font-family: 'Lato';

    src: url('/font/Lato-Regular.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Lato Black';

    src: url('/font/Lato-Black.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Lato Bold';

    src: url('/font/Lato-Bold.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Lato Light';

    src: url('/font/Lato-Light.woff2') format('woff2');
  }
  body {
    font-family: 'Lato';
  }
  h1 {
    font-family: 'Lato Black';
  }
  h2 {
    font-family: 'Lato Bold';
  }
}
// GENERAL
html {
  /* set base font-size to equiv "10px", which is adapted to rem unit */
  font-size: 62.5%;
  /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
  font-size: calc(1em * 0.625);
}
body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: $dark;
  background: $bgmain;
}
.invisible {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}
.hidden {
  display: none;
}
.button {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 2.7rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $color-main;
  border: 5px solid $color-main;
  &.button--cta {
    font-size: 2.9rem;
    text-transform: none;
    color: $white;
    border: none;
    background: $color-highlight;
  }
}

// footer
footer {
  margin-top: auto;
  padding: 3rem 2rem;
  font-size: 1.4rem;
  color: $dark;
  background: $white;
  .footer-int {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    max-width: $medium;
  }
  a {
    color: $gray;
  }
  ul {
    margin: 0 0 2rem;
    padding: 0;
  }
  li {
    list-style: none;
  }
}
// Header
.banner {
  color: $bgmain;
  background: $color-main;
  .header-int {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: $large;
    min-height: 7rem;
  }
  .logo {
    font-size: 2.5rem;
  }
  .baseline {
    margin: 0 0.5rem 0 2rem;
    line-height: 1.1;
    font-size: 1.3rem;
    span {
      display: block;
    }
  }
  nav {
    margin-left: auto;
    font-size: 1.4rem;
  }
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 1rem;
    padding: 0;
  }
  li {
    margin: 0 0.8rem;
    list-style: none;
  }
  nav a {
    position: relative;
    display: block;
    font-weight: 900;
    text-transform: uppercase;
    color: $white;
    overflow:hidden;
    &:hover, &:focus {
      text-decoration: none;
      color: $white;
    }
    &:hover:before, &:focus:before, &.active:before {
      position: absolute;
      z-index: 1;
      content: '';
      top: 60%;
      left: 50%;
      width: 110%;
      height: 5px;
      transform: translateX(-50%);
      background: $color-highlight;
    }
    span {
      position: relative;
      z-index: 2;
    }
  }
}
// Main
main {
  .main-int {
    margin: 0 auto;
    padding: 0 5vw;
    max-width: $medium;
  }
}
// Home
.home {
  main {
    margin:10vh 0;
    padding-bottom: 20vh;
    background: url(../images/interrogation.svg) 50% 100% no-repeat;
    background-size:contain;
    header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 70vh;
      text-align: center;
      h1 {
        line-height: 1.1;
        font-size: 5.7rem;
        color: $color-main;
        span {
          display: block;
        }
        a {
          font-size: 2.9rem;
        }
      }
      & + p {
        margin-bottom: 3rem;
        font-size: 2rem;
        text-align: center;
        color: $color-main;
        & + p {
          margin-bottom: 3rem;
          text-align: center;
        }
      }
    }
  }
}
form {
  .error {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    color: red;
    border: 2px solid red;
    background: $white;
  }
  [class*='step'] {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    & > legend {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      margin-bottom: 3rem;
      width: auto;
      max-width: none;
      span {
        padding: 0.5rem 1rem;
      }
      span:first-of-type {
        font-size: 2.5rem;
        text-transform: uppercase;
        color: $white;
        background: $color-highlight;
      }
      span:last-of-type {
        font-size: 2.7rem;
        color: $color-main;
        background: $white;
      }
    }
    & > fieldset legend {
      padding-left: 1rem;
      font-size: 1.8rem;
      color: $color-main;
      border-left: 3px solid $color-highlight;
    }
     > fieldset {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: flex-start;
      margin-bottom: 3rem;
      padding: 1rem 0;
      label {
        margin: 0 0.5rem 0 2rem;
        font-size: 1.8rem;
      }
      input[type='radio'] {
        vertical-align: middle;
      }
    }
    .button {
      margin-bottom: 3rem;
      margin-left: auto;
      padding: 0.3rem 1rem;
      font-size: 1.8rem;
      cursor: pointer;
      color: $white;
      border: none;
      background: $color-highlight;
      &:hover, a:focus {
        text-decoration: underline;
      }
      &:after {
        content: '>';
        font-family: monospace;
        font-weight: 900;
      }
    }
  }
}
// Article
.article {
  main {
    color: $color-main;
    background: $white;
  }
  .main-int {
    max-width: $medium;
  }
  article {
    font-size: 1.8rem;
  }
  .cover-image {
    max-width: 100%;
    height: auto;

    object-fit: cover;
  }
  h1 {
    font-size: 4.8rem;
  }
  h2 {
    font-size: 3.2rem;
  }
  header + p strong {
    font-size: 3.2rem;
  }
}

// Progress Bar
#progressbar {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  margin-top: 10vh;
  margin-bottom: 30px;
  /*CSS counters to number the steps*/
  counter-reset: step;
}
#progressbar li {
  position: relative;
  width: 25%;
  list-style-type: none;
  font-size: 9px;
  text-transform: uppercase;
  color: $bgmain;
}
#progressbar li:before {
  content: counter(step);
  display: block;
  margin: 0 auto 5px auto;
  width: 30px;
  line-height: 30px;
  font-size: 1rem;
  counter-increment: step;
  text-align: center;
  color: $bgmain;
  border-radius: 50%;
  background: $color-main;
}
/*progressbar connectors*/
#progressbar li:after {
  position: absolute;
  z-index: -1;
  content: '';
  top: 11px;
  left: -50%;
  width: 100%;
  height: 8px;
  background: $color-main;
}
#progressbar li:first-child:after {
  content: none;
}
#progressbar li.active:before, #progressbar li.active:after {
  color: $color-main;
  background: $color-highlight;
}
//404
.page404 {
  header {
    font-size: 2.5em;
    margin: 20vh 0;
    min-height: 60vh;
    h1 {
      color:$color-main;
    }
  }
}
