// COLOR
$color-main: #272f80;
$color-highlight: #f87339;
$white: #fefefe;
$dark: #313131;
$gray: #6a6a6a;
$bghead: #d7d5d5;
$bgmain: #aed2dd;
$boxshadow: 0 4px 6px 0 hsla(0%,0%,0%,0.2);

// BREAKPOINT
$tiny: 54.3em !default; // 543px
$small: 76.7em !default; // 767px
$medium: 99.1em !default; // 991px
$large: 119.9em !default; // 1199px
$extra-large: 143.9em !default; // 1439px

// SAFE MOBILE
body {
  font-family: -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Open Sans',
  'Helvetica Neue',
  sans-serif; /* font stack from Medium */
}
@media (min-width:$small) {
  @font-face {
    font-family: 'Lato';

    src: url('/font/Lato-Regular.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Lato Black';

    src: url('/font/Lato-Black.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Lato Bold';

    src: url('/font/Lato-Bold.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Lato Light';

    src: url('/font/Lato-Light.woff2') format('woff2');
  }
  body {
    font-family: 'Lato';
  }
  h1 {
    font-family: 'Lato Black';
  }
  h2 {
    font-family: 'Lato Bold';
  }
}
// GENERAL
html {
  /* set base font-size to equiv "10px", which is adapted to rem unit */
  font-size: 62.5%;
  /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
  font-size: calc(1em * 0.625);
}
body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: $dark;
  background: $bgmain;
}
.invisible {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}
.hidden {
  display: none;
}
.button {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 2.7rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $color-main;
  border: 5px solid $color-main;
  &.button--cta {
    font-size: 2.9rem;
    text-transform: none;
    color: $white;
    border: none;
    background: $color-highlight;
  }
}
.js-to_expand[aria-hidden=true], .js-to_expand[data-hidden=true] {
  display: none;
}
// footer
footer {
  margin-top: auto;
  padding: 3rem 2rem;
  font-size: 1.4rem;
  color: $dark;
  background: $white;
  .footer-int {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    max-width: $medium;
    @media (min-width:$small) {
      & {
        flex-direction: row;
      }
    }
  }
  a {
    color: $gray;
  }
  ul {
    margin: 0 0 2rem;
    padding: 0;
  }
  li {
    margin: 1rem 0;
    list-style: none;
    @media (min-width:$small) {
      & {
        margin: 0;
      }
    }
  }
}
// Header
.banner {
  color: $bgmain;
  background: $color-main;
  padding:1rem;
  @media (min-width:$small) {
    & {
      padding:0;
    }
  }
  .header-int {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: $large;
    min-height: 7rem;
  }
  .logo {
    font-size: 2.5rem;
  }
  .baseline {
    margin:0;
    line-height: 1.1;
    font-size: 1.3rem;
    @media (min-width:$small) {
      & {
        margin: 0 0.5rem 0 2rem; 
      }
    }
    span {
      display: block;
    }
  }
  nav {
    margin-left: auto;
    width: 100%;
    font-size: 1.4rem;
    @media (min-width:$small) {
      & {
        width: auto;
      }
    }
  }
  ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 1rem;
    padding: 0;
    @media (min-width:$small) {
      & {
        flex-direction: row;
      }
    }
  }
  li {
    margin: 1.5rem 1rem;
    list-style: none;
    @media (min-width:$small) {
      & {
        position: relative;
        margin: 0 1rem;
      }
    }
  }
  li:nth-of-type(2) {
    order: -1;
  }
  nav a, nav p, nav button {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    font-weight: 900;
    cursor: pointer;
    text-transform: uppercase;
    color: $white;
    border: none;
    background: $color-main;
    &:hover, &:focus {
      text-decoration: none;
      color: $white;
    }
    &:hover:before, &:focus:before, &.active:before {
      position: absolute;
      z-index: 1;
      content: '';
      top: 60%;
      left: 50%;
      width: 110%;
      height: 5px;
      transform: translateX(-50%);
      background: $color-highlight;
    }
    span {
      position: relative;
      z-index: 2;
    }
    & + ul {
      position: relative;
      z-index: 99;
      left: 50%;
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      min-width: 28rem;
      transform: translateX(-50%);
      background: $color-main;
      @media (min-width:$small) {
        position: absolute;
      }
      li {
        margin: 0;
        width: 100%;
      }
      a {
        display: block;
        padding: 1rem;
        text-align: center;
        &:hover, &:focus {
          background: $color-highlight;
        }
      }
    }
  }
}
// Main
main {
  position: relative;
  background:$bgmain url(../images/wave.svg) no-repeat 50% 100%;
  background-size:100%;
  .main-int {
    margin: 0 auto;
    padding: 0 5vw;
    max-width: $medium;
  }
}
// Home
.home {
  main {
    margin: 10vh 0 0;
    padding-bottom: 50vh;
    background: url(../images/coureurs.svg),url(../images/interrogation.svg),url(../images/wave.svg);
    background-color: $bgmain;
    background-repeat: no-repeat;
    background-position: 0 100%,50% 30%, 50% 100%;
    background-size: 30%, 20%, 100%;
    header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 50vh;
      text-align: center;
      h1 {
        line-height: 1.1;
        font-size: 5.7rem;
        color: $color-main;
        span {
          display: block;
        }
        a {
          font-size: 2.9rem;
        }
      }
      & + p {
        margin: 0 auto 3rem;
        max-width: 70%;
        font-size: 2rem;
        text-align: center;
        color: $color-main;
        & + p {
          margin-bottom: 3rem;
          text-align: center;
        }
      }
    }
  }
}
// Résultats
.diagnostic-results {
  background: $bgmain;
  h2 {
    line-height: 1.1;
    font-size: 4.8rem;
    color: $color-main;
  }
  ul, p {
    margin-bottom: 3rem;
    font-size: 2rem;
    text-align: center;
    color: $color-main;
  }
}
.title {
  margin-top: 20vh;
  line-height: 1.1;
  font-size: 5.7rem;
  text-align: center;
  color: $color-main;
}
form {
  .error {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    color: red;
    border: 2px solid red;
    background: $white;
  }
  [class*='step'] {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    & > legend em {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      margin-bottom: 3rem;
      width: auto;
      max-width: none;
      font-style: normal;
      span {
        padding: 0.5rem 1rem;
      }
      span:first-of-type {
        font-size: 2.5rem;
        text-transform: uppercase;
        color: $white;
        background: $color-highlight;
      }
      span:last-of-type {
        font-size: 2.7rem;
        color: $color-main;
        background: $white;
      }
    }
    & > fieldset legend {
      padding-left: 1rem;
      font-size: 1.8rem;
      color: $color-main;
      border-left: 3px solid $color-highlight;
    }
     > fieldset {
      margin-bottom: 3rem;
      padding: 1rem 0;
      label {
        margin: 0 0.5rem 0 2rem;
        font-size: 1.8rem;
      }
      input[type='radio'] {
        vertical-align: middle;
      }
    }
    .button {
      margin-bottom: 15rem;
      margin-left: auto;
      padding: 0.3rem 1rem;
      font-size: 1.8rem;
      cursor: pointer;
      color: $white;
      border: none;
      background: $color-highlight;
      &:hover, a:focus {
        text-decoration: underline;
      }
      &:after {
        content: '>';
        font-family: monospace;
        font-weight: 900;
      }
    }
  }
  [class*='hidden'] {
    display: none;
  }
}
// Article
.article {
  background: $bgmain;
  main {
    padding-bottom: 10vh;
    color: $color-main;
    background: $white;
  }
  .main-int {
    max-width: $medium;
  }
  article {
    font-size: 1.8rem;
  }
  .cover-image {
    max-width: 100%;
    height: auto;

    object-fit: cover;
  }
  h1 {
    font-size: 4.8rem;
  }
  h2 {
    font-size: 3.2rem;
  }
  header + p strong {
    font-size: 3.2rem;
  }
}

// Progress Bar
.progressbar {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: 20vh 0 30px;
  padding: 0;
  /*CSS counters to number the steps*/
  counter-reset: step;
  li {
    position: relative;
    width: 25%;
    list-style-type: none;
    text-transform: uppercase;
    color: $bgmain;
  }
  li:before {
    position: relative;
    z-index: 1;
    content: counter(step);
    display: block;
    margin: 0 auto 5px auto;
    width: 40px;
    line-height: 40px;
    font-size: 2rem;
    counter-increment: step;
    text-align: center;
    color: $bgmain;
    border-radius: 50%;
    background: $color-main;
  }
  li:after {
    position: absolute;
    z-index: 0;
    content: '';
    top: 17px;
    left: -50%;
    width: 100%;
    height: 8px;
    background: $color-main;
  }
  li:first-child:after {
    content: none;
  }
  li:nth-of-type(4):before {
    content: '';
    width: 50px;
    height: 50px;
    background: $color-main url(../images/last-step.svg) no-repeat 50% 50%;
    background-size: 60%;
  }
  li:nth-of-type(4):after {
    top: 23px;
  }
  li.active:before, li.active:after {
    color: $white;
    background-color: $color-highlight;
  }
  & + h1 {
    margin: 3.5rem 0;
  }
}
.result {
  main {
    padding: 3rem 1rem;
  }
  h1 {
    font-size: 4rem;
    text-align: center;
    color: $color-main;
  }
  p {
    font-size: 1.6rem;
    color: $color-main;
  }
  p + p {
    text-align: center;
  }
  p a {
    display: inline-block;
    padding: 1rem 2rem;
    font-weight: bold;
    color: $white;
    background: $color-highlight;
  }
}
//404
.page404 {
  main article {
    margin: 20vh 0;
    min-height: 60vh;
    font-size: 2.5em;
    h1 {
      color: $color-main;
    }
    a {
      color: $color-main;
    }
  }
}
// skiplink
.skipnav {
  text-align: left;
}
.skipnav a {
  position: absolute;
  left: -10000px;
  overflow: hidden;
  width: 1px;
  height: 1px;
}
.skipnav a:focus, .skipnav a:active {
  position: static;
  left: 0;
  display: block;
  overflow: visible;
  padding: 1rem;
  width: auto;
  height: auto;
  text-decoration: underline;
  color: $white;
  background: $dark;
}

/* Resultats */
.diagnostic-results {
  & > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    h2 {
      display: inline-block;
      margin-bottom: 3rem;
      padding: 1rem 1.5rem;
      font-size: 3rem;
      text-align: center;
      color: $white;
      background: $color-highlight;
    }
    h3 {
      margin-bottom: 2rem;
      font-size: 2rem;
    }
    ul {
      margin: 0 0 3rem;
      padding: 0;
      list-style-type: none;
    }
    p a {
      font-weight: 900;
      text-decoration: underline;
      color: $color-main;
    }
    .container-links-scenario {
      align-self: flex-end;
      margin-bottom: 8rem;
      a {
        margin-bottom: 15rem;
        margin-left: auto;
        padding: 0.3rem 1rem;
        font-size: 2rem;
        cursor: pointer;
        text-transform: uppercase;
        color: $white;
        border: none;
        background: $color-highlight;
        &:hover, a:focus {
          text-decoration: underline;
        }
        &:after {
          content: '>';
          font-family: monospace;
          font-weight: 900;
        }
      }
    }
  }
}
.circle {
  display: inline-block;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: url(../images/tennis-orange-balls.svg) no-repeat 50% 50%;
}
.circle:nth-of-type(2) {
  transform: rotate(-30deg);
}
.circle:nth-of-type(3) {
  transform: rotate(30deg);
}
.circle:nth-of-type(4) {
  transform: rotate(45deg);
}
.circle:nth-of-type(5) {
  transform: rotate(120deg);
}
.circle:nth-of-type(6) {
  transform: rotate(270deg);
}

[data-nb-yes='0'] .circle:nth-child(n+1), [data-nb-yes='1'] .circle:nth-child(n+2), [data-nb-yes='2'] .circle:nth-child(n+3), [data-nb-yes='3'] .circle:nth-child(n+4), [data-nb-yes='4'] .circle:nth-child(n+5) {
  background: url(../images/tennis-white-balls.svg) no-repeat 50% 50%;
}


.container-links-scenario a {
  display: none;
}
.container-links-scenario[data-scenario='1'] .link-scenario-1, .container-links-scenario[data-scenario='2'] .link-scenario-2, .container-links-scenario[data-scenario='3'] .link-scenario-3 {
  display: block;
}
