{{ define "title" }}
  {{ .Site.Title }}
{{ end }}
{{ define "bodyclass"}}home{{ end }}
{{ define "main" }}
  <div class="main-int">
    <header>
      <h1>
        <span>SCIC ou pas SCIC<br>dans le sport</span>
        <a href="/diagnostic/" class="button button--cta">Réaliser son diagnostic</a>
      </h1>
    </header>
    <p>Vous envisagez de créer, développer des activités sportives, physiques, de loisirs sportifs et vous avez entendu parler des Sociétés Coopératives d'Intérêts Collectifs (SCIC). Vous vous interrogez sur la pertinence de recourir à ce statut pour entreprendre…</p>
    <p><a href="/diagnostic/" class="button">Commencer</a></p>
  </div>
  
{{ end }}
{{ define "scripts"}}
{{ end }}
