<footer role="contentinfo" id="footer" class="footer">
  <div class="footer-int">
    <div>
      <h2>Infos site</h2>
      <ul>
        <li>
          <a href="/plan-du-site/">Plan du site</a>
        </li>
        <li>
          <a href="/accessibilite/">Accessibilité du site</a>
        </li>
        <li>
          <a href="/mentions-legales/">Mentions légales / Crédits</a>
        </li>
        <li>
          <a href="http://www.sports.gouv.fr/accueil-du-site/article/Exporter-nos-services">Exporter nos services</a>
        </li>
        <li>
          <a href="http://www.sports.gouv.fr/accueil-du-site/article/plandaccesauministeredessports">Plan d’accès au MVJS</a>
        </li>
        <li>
          <a href="http://www.sports.gouv.fr/services-pratiques/grand-public/article/Saisine-par-voie-electronique">Saisine par voie électronique</a>
        </li>
        <li>
          <a href="http://www.sports.gouv.fr/accueil-du-site/article/Marche-public">Marché public</a>
        </li>
      </ul>
    </div>
    <div>
      <h2>Thématiques</h2>
      <ul>
        <li>
          <a href="http://www.sports.gouv.fr/organisation/publication-chiffres-cles/Toutes-les-publications-10217/article/Rapport-IGJS">Rapports IGJS</a>
        </li>
        <li>
          <a href="http://www.sports.gouv.fr/prevention/paris-truques/">Lutte contre les paris truqués</a>
        </li>
        <li>
          <a href="http://www.sports.gouv.fr/pratiques-sportives/le-sport-pour-tous/Sport-pour-tous-11069/">Sports de nature</a>
        </li>
        <li>
          <a href="http://www.sports.gouv.fr/accueil-du-site/article/Sport-et-developpement-durable">Sport et développement durable</a>
        </li>
        <li>
          <a href="http://www.sports.gouv.fr/pratiques-sportives/sante-bien-etre">Sport, santé, bien-être</a>
        </li>
        <li>
          <a href="http://www.sports.gouv.fr/pratiques-sportives/le-sport-pour-tous/Sport-handicap-11072/">Sport et handicaps</a>
        </li>
        <li>
          <a href="http://www.sports.gouv.fr/organisation/missions-organisation/reseau/Les-poles-ressources-nationaux/Pole-ressources-national-sport-education-mixites-et-citoyennete/">sport, éducation, mixités et citoyenneté</a>
        </li>
        <li>
          <a href="http://www.sports.gouv.fr/international/DIGES/">Délégation interministérielle aux grands événements sportifs</a>
        </li>
      </ul>
    </div>
    <div>
      <h2>Sites publics</h2>
      <ul>
        <li>
          <a href="https://connexion.mon.service-public.fr/">MonServicePublic.fr</a>
        </li>
        <li>
          <a href="http://www.legifrance.gouv.fr/">Legifrance</a>
        </li>
        <li>
          <a href="http://www.gouvernement.fr/">Gouvernement.fr</a>
        </li>
        <li>
          <a href="http://www.associations.gouv.fr">Associations</a>
        </li>
        <li>
          <a href="http://www.service-civique.gouv.fr">Service civique</a>
        </li>
        <li>
          <a href="http://www.jeunes.gouv.fr">Jeunes</a>
        </li>
        <li>
          <a href="http://www.data.gouv.fr">Data.Gouv</a>
        </li>
        <li>
          <a href="http://www.sports.gouv.fr/organisation/publication-chiffres-cles/Toutes-les-publications-10217/article/Les-groupements-d-employeurs-du-secteur-non-marchand">Découvrir nos pôles ressources nationaux</a>
        </li>
      </ul>
      <p><a href="#">Retour en haut</a></p>
    </div>
  </div>
</footer>
