<header role="banner" id="banner" class="banner" >
  <div class="header-int">
    <a class="logo-mds" href="http://www.sports.gouv.fr">
      <img src="/images/logo-mds.gif" alt="" height="64" width="50">
      <span class="invisible">Ministère des sports</span>
    </a>    
    <a class="logo" href="/">   
      <img src="/images/logo.svg" alt="" height="40" width="100"><span class="invisible">Scic, retour à la page d'accueil</span>
    </a>
    <p class="baseline">Un outil de l'économie sociale et solidaire<br>pour le développement du sport</span></p>
    {{ partial "menu" . }}
  </div><!--/flex-container-->
</header>
